!!! 5
html
  head
    title Spotbox

    link(rel="stylesheet", type="text/css", href=stylesheetUrl)
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src=javascriptUrl)

  body
