{{#view QueueTab classBinding="active"}}
  <a href="#" {{action "setCurrentTab" target="parentView"}} data-tab="queue">Queue</a>
{{/view}}

{{#view SearchTab classBinding="active"}}
  <a href="#" {{action "setCurrentTab" target="parentView"}} data-tab="search">Search</a>
{{/view}}

{{#view RecentTab classBinding="active"}}
  <a href="#" {{action "setCurrentTab" target="parentView"}} data-tab="recent">Recent</a>
{{/view}}

{{#view PlaylistsTab classBinding="active"}}
  <a href="#" {{action "setCurrentTab" target="parentView"}} data-tab="playlists">Playlists</a>
{{/view}}
