<a class="dropdown-toggle" data-toggle="dropdown" href="#playlists">Playlists <b class="caret"></b></a>
<ul class="dropdown-menu">
  <li>
    {{#view filterBox}}{{/view}}
  </li>

  <li class="divider"></li>

  {{#each Spotbox.Controllers.Playlists}}
    {{#view Spotbox.Views.PlaylistEntry contentBinding="this"}}
      <a href="#{{unbound content.name}}" data-toggle='tab'>{{content.name}}</a>
    {{/view}}
  {{/each}}
</ul>
