<div>
  <strong>Name:</strong> {{model.name}}
</div>
<div>
  <strong>Artist:</strong>
  {{#each model.artists}}
    {{this.name}}
  {{/each}}
</div>
<div>
  <strong>Album:</strong> {{model.album.name}}
</div>
