<div class="btn-toolbar">
  <div class="btn-group">
    {{#view toggleButton}}{{connectionStatusText}}{{/view}}
  </div>
  <div class="btn-group">
    <a {{action "volumeDown"}} class="btn btn-mini"><i class="icon-volume-down"></i></a>
    <a {{action "volumeUp"}} class="btn btn-mini"><i class="icon-volume-up"></i></a>
  </div>
</div>
