<div class="btn-toolbar">
  <div class="btn-group">
    {{#view view.toggleButton}}{{view.connectionStatusText}}{{/view}}
  </div>
  <div class="btn-group">
    <a {{action "volumeDown" target="view"}} class="btn btn-mini"><i class="icon-volume-down"></i></a>
    <a {{action "volumeUp" target="view"}} class="btn btn-mini"><i class="icon-volume-up"></i></a>
  </div>
</div>
