<div class="navbar-inner">
  <div class="container">
    <a class="brand" href="#"><strong>Spotbox</strong>: <em>{{view.version}}</em></a>
    <div class="navbar-search pull-right">
      <i class="icon-search icon-white"></i>
      {{view Spotbox.Views.SearchField}}
    </div>
  </div>
</div>
