<div class="navbar-inner">
  <div class="container">
    <a class="brand" href="#"><strong>Spotbox</strong>: <em>{{version}}</em></a>
    <div id="search-bar">
      <i class="icon-search icon-white"></i>
      {{view Spotbox.Views.SearchField}}
    </div>
  </div>
</div>
