<!-- Header -->
{{view Spotbox.Views.Header}}
<!-- End Header -->

<!-- Container -->
<div class="container-fluid">

  <!-- Row -->
  <div class="row-fluid">

    <!-- Player -->
    <div class="span3 well">
      {{view Spotbox.Views.Airfoil}}
      {{view Spotbox.Views.Player}}
    </div>
    <!-- End Player -->

    <!-- Lists -->
    <div class="span9">
      <div class="row-fluid message-container">
      </div>

      <!-- Tab Bar -->
      {{view Spotbox.Views.TabBar}}
      <!-- End Tab Bar -->

      <!-- Tab Content -->
      <div class="tab-content"></div>
      <!-- End Tab Content -->

    </div>
    <!-- End Lists -->

  </div>
  <!-- End Row -->
</div>
<!-- End Container -->
