<!-- Header -->
{{view Spotbox.Views.Header}}
<!-- End Header -->

<!-- Container -->
<div class="container-fluid">

  <!-- Row -->
  <div class="row-fluid">

    <!-- Player -->
    <div id="player-container" class="span3">
      {{view Spotbox.Views.Airfoil}}
      {{view Spotbox.Views.PlaybackControls id="playback-controls"}}
    </div>
    <!-- End Player -->

    <!-- Lists -->
    <div class="span9">
      <div class="row-fluid">
        <div class="span12 messages">
          <!-- User messages go here -->
        </div>
      </div>

      <!-- Tab Bar -->
      {{view Spotbox.Views.TabBar}}
      <!-- End Tab Bar -->

      <!-- Tab Content -->
      <div id="tab-content"></div>
      <!-- End Tab Content -->

    </div>
    <!-- End Lists -->

  </div>
  <!-- End Row -->
</div>
<!-- End Container -->
