<a class="dropdown-toggle" data-toggle="dropdown">Playlists <b class="caret"></b></a>
<ul class="dropdown-menu">
  <li>{{#view filterBox}}{{/view}}</li>
  <li class="divider"></li>
  <li class="nav-header">Spotify Playlists</li>
  {{#each content}}
    {{#view Spotbox.Views.PlaylistTabItem contentBinding="this"}}
      <a href="#playlist" data-toggle="tab">{{content.name}}</a>
    {{/view}}
  {{/each}}
</ul>
