{{#view QueueTab}}
  <a {{action "showQueue" target="Spotbox.TabManager"}} href="javascript:void(0)">Queue</a>
{{/view}}

{{#view SearchTab}}
  <a {{action "showSearch" target="Spotbox.TabManager"}} href="javascript:void(0)">Search</a>
{{/view}}
