.container-fluid {
  margin: 0 auto;
  padding-top: 60px;
}

.draghover {
  .box-shadow(0 0 5px 10px @successBorder);
}

.table.track-list tr td, .table.queue tr td {
  vertical-align: middle;
}

.player {
  background-color: #EBEBEB;

  .controls {
    text-align: center;
  }

  .track-info {
    padding: 15px;
    margin-bottom: 0;

    h2 {
      margin: 5px 0 10px 0;
      font-size: 18px;
      line-height: 18px;
    }

    h3 {
      margin: 0 0 5px 0;
      padding: 0;
      line-height: 14px;
      font-size: 14px;
      font-weight: normal;
      em {
        text-decoration: italic;
        font-weight: lighter;
      }
    }

    img {
      width: 80px;
      height: 80px;
    }
  }
}
